<tr id="person">
    <td>
        <div class="d-flex align-items-center">
            <input type="checkbox" name="box" value="{{ lastname }}_{{ firstname }}"/>
        </div>
    </td>
	<td>
		<a href="/profile?phonenum={{ phonenum }}">
            <label id="lbl">{{ lastname }}, {{ firstname }}</label>
        </a>
	</td>
	<td>
		<div class="category" id="{{baptism}}">{{ baptism }}</div>
	</td>
</tr>